@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body {
    background-color: #FFF3E0;
}

#title {
    font-family: "Bitcount Prop Single", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #EF6C00;
}


#generateBtn {
    background-color: #EF6C00;
    border-color: #FFE0B2;
}